.projects {
    padding: 60px;
}

.projects .project-info {
    margin-bottom: 20px;
    overflow: hidden;
}

.projects .project-info .project-image {
    position: relative;
    overflow: hidden;
    border-radius: 7px;
}

.projects .project-info .project-link {
    position: absolute;
    left: 0;
    bottom: -40px;
    right: 0;
    height: 40px;
    opacity: 0;
    transition: bottom ease-in-out 0.4s;
    background: linear-gradient(to right #00FFFF, #0fefa4);
    display: flex;
    align-items: center;
    justify-content: center;
}

.projects .project-info .project-link a {
    transition: color 0.3s;
    color: rgb(60, 57, 53);
    margin: 0 10px;
    display: inline-flex;
    align-items: center;
    justify-content: center;
}

.projects .project-info .project-link a i {
    line-height: 0;
}

.projects .project-info .project-link a:hover {
    color: black;
}

.projects .project-info .project-link i {
    font-size: 18px;
    margin: 0 2px;
}

.projects .project-info .project-description h4 {
    font-weight: 700;
    margin: 15px 0 5px 0;
    font-size: 18px;
}

.projects .project-info .project-description span {
    display: block;
    font-size: 13px;
    text-transform: uppercase;
    font-weight: 400;
    margin-bottom: 15px;
}

.projects .project-info .project-description p {
    font-style: italic;
    font-size: 14px;
    line-height: 26px;
    color: #888;
}

.projects .project-info:hover .project-link {
    bottom: 0;
    opacity: 1;
    transition: bottom ease-in-out 0.3s;
}